<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   cards.plist
   Lab4

   Created by Daler Asrorov on 11/7/16.
   Copyright (c) 2016 Daler Asrorov. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
